<div class="profile">
  <div class="image-container">
    <img
      src="/assets/cat.png"
      alt="Imagem do Perfil do profissional"
    >
  </div>

  <div class="info-container">
    <h2> Name</h2>

    <div>
      <span class="professional-info">Therapist</span>
      <span> | Place</span>
    </div>

    <div class="star-rating">
        <i class="fa fa-star star"></i>
        <i class="fa fa-star star"></i>
        <i class="fa fa-star star"></i>
        <i class="fa fa-star star"></i>
    </div>

    <div>
      <span> Value</span>
      <span> / time</span>
    </div>

    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent malesuada consequat nunc ut volutpat. Cras sit amet enim id sapien efficitur pharetra tempus sed urna. Vivamus faucibus enim sit amet diam malesuada ultrices. In vulputate velit vel nunc vestibulum, eget commodo mi aliquam. Mauris vel dapibus velit. Ut tempor neque enim, et tempus eros condimentum nec. Praesent consequat diam odio, at feugiat tortor rhoncus a. Sed non nulla tincidunt, volutpat neque ut, cursus dui. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis mattis auctor sagittis.</p>
  </div>

  <button>See disponibility</button>
</div>
